{# TODO: Macro! #}

{% for flash_message in app.session.flashBag.get('notice') %}
    <div class="flash-notice alert alert-success alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ flash_message }}
    </div>
{% endfor %}
{% for flash_message in app.session.flashBag.get('error') %}
    <div class="flash-error alert alert-danger alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ flash_message }}
    </div>
{% endfor %}